tpws-client/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:1997/?xsd=1"/>
</xsd:schema>
</types>
<message name="listComptes">
<part name="parameters" element="tns:listComptes"/>
</message>
<message name="listComptesResponse">
<part name="parameters" element="tns:listComptesResponse"/>
</message>
<message name="conversionEuroToDh">
<part name="parameters" element="tns:conversionEuroToDh"/>
</message>
<message name="conversionEuroToDhResponse">
<part name="parameters" element="tns:conversionEuroToDhResponse"/>
</message>
<message name="getCompteByCode">
<part name="parameters" element="tns:getCompteByCode"/>
</message>
<message name="getCompteByCodeResponse">
<part name="parameters" element="tns:getCompteByCodeResponse"/>
</message>
<portType name="BanqueController">
<operation name="listComptes">
<input wsam:Action="http://ws/BanqueController/listComptesRequest" message="tns:listComptes"/>
<output wsam:Action="http://ws/BanqueController/listComptesResponse" message="tns:listComptesResponse"/>
</operation>
<operation name="conversionEuroToDh">
<input wsam:Action="http://ws/BanqueController/conversionEuroToDhRequest" message="tns:conversionEuroToDh"/>
<output wsam:Action="http://ws/BanqueController/conversionEuroToDhResponse" message="tns:conversionEuroToDhResponse"/>
</operation>
<operation name="getCompteByCode">
<input wsam:Action="http://ws/BanqueController/getCompteByCodeRequest" message="tns:getCompteByCode"/>
<output wsam:Action="http://ws/BanqueController/getCompteByCodeResponse" message="tns:getCompteByCodeResponse"/>
</operation>
</portType>
<binding name="BanqueControllerPortBinding" type="tns:BanqueController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conversionEuroToDh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompteByCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueControllerPort" binding="tns:BanqueControllerPortBinding">
<soap:address location="http://localhost:1997/"/>
</port>
</service>
</definitions>